<div class="container" style="margin-top:50px;">
    <a href="/home/user_data" class="waves-effect waves-light btn">user 정보 가져오기</a>
    <a href="/home/user_view" class="waves-effect waves-light btn">user 정보 보기</a>
    <a href="/home/idea_data" class="waves-effect pink lighten-3 btn">idea 정보 가져오기</a>
    <a href="/home/idea_view" class="waves-effect pink lighten-3 btn">idea 정보 보기</a>
</div>
